# playbooks/00_setup_vars.yml
---
- name: Vars settings
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    # Used when running manually, otherwise provided by survey
    vm_size: "{{ vm_size | default(omit) }}"

  pre_tasks:
    - name: Load VM Config
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/vm_config.yml"
        name: vm_config
      ignore_errors: yes

    - name: Load Capacity Profiles
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/capacity_profiles.yml"
        name: capacity_data
      ignore_errors: yes

  tasks:
    - name: Define defaults if files not found
      ansible.builtin.set_fact:
        # asegura que capacity_data tenga estructura base
        capacity_data: "{{ capacity_data | default({
          'capacity_profiles': {
            'small':  {'cpu': 2, 'ram_gb': 4,  'storage_gb': 50},
            'medium': {'cpu': 4, 'ram_gb': 8,  'storage_gb': 100},
            'large':  {'cpu': 8, 'ram_gb': 16, 'storage_gb': 200}}
         }) }}"
        # prioriza el valor de survey vm_size sobre vm_config y luego 'medium'
        selected_profile: "{{ vm_size | default(vm_config.selected_capacity_profile | default('medium')) }}"
        vm_name: "{{ vm_config.vm_name | default('default-vm') }}"

    - name: Validate selected profile
      ansible.builtin.assert:
        that:
          - selected_profile in capacity_data.capacity_profiles
        fail_msg: "Profile '{{ selected_profile }}' not found in capacity_profiles."
        success_msg: "Using capacity profile '{{ selected_profile }}'."

    - name: Set vm_profile based on selected profile
      ansible.builtin.set_fact:
        vm_profile: "{{ capacity_data.capacity_profiles[selected_profile] }}"

    - name: Confirm Profile Loaded
      ansible.builtin.debug:
        msg: >
          Capacity Profile '{{ selected_profile | upper }}' loaded:
          CPU={{ vm_profile.cpu }} cores,
          RAM={{ vm_profile.ram_gb }} GB,
          Disk={{ vm_profile.storage_gb }} GB,
          VM={{ vm_name }}.

    # Exporta variables al siguiente paso del Workflow
    - name: Save vm_profile for next workflow step
      ansible.builtin.set_stats:
        data:
          vm_profile: "{{ vm_profile }}"
          vm_name: "{{ vm_name }}"
          selected_profile: "{{ selected_profile }}"
