# playbooks/00_setup_vars.yml
---
- name: Vars settings
  hosts: localhost
  connection: local
  gather_facts: no

  pre_tasks:
    - name: Load VM Config
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/vm_config.yml"
        name: vm_config

    - name: Load Capacity Profiles
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/capacity_profiles.yml"
        name: capacity_data

  tasks:
    - name: Define defaults if files not found
      ansible.builtin.set_fact:
        capacity_data: "{{ capacity_data | default({'capacity_profiles': {'small': {'cpu': 2, 'ram_gb': 4, 'storage_gb': 50}, 'medium': {'cpu': 4, 'ram_gb': 8, 'storage_gb': 100}, 'large': {'cpu': 8, 'ram_gb': 16, 'storage_gb': 200}}}) }}"
        selected_profile: "{{ vm_config.selected_capacity_profile | default('medium') }}"
        vm_name: "{{ vm_config.vm_name | default('default-vm') }}"

    - name: Set vm_profile based on selected profile
      ansible.builtin.set_fact:
        vm_profile: "{{ capacity_data.capacity_profiles[selected_profile] | default({}) }}"

    - name: Confirm Profile Loaded
      ansible.builtin.debug:
        msg: >
          Capacity Profile '{{ selected_profile | upper }}' loaded:
          CPU={{ vm_profile.cpu | default('N/A') }},
          RAM={{ vm_profile.ram_gb | default('N/A') }} GB,
          Disk={{ vm_profile.storage_gb | default('N/A') }} GB,
          VM={{ vm_name }}.
    # tarea para pasar variables al siguiente paso del WF
    - name: Save vm_profile for next workflow step
      ansible.builtin.set_stats:
        data:
          vm_profile: "{{ vm_profile }}"
          vm_name: "{{ vm_name }}"
          selected_profile: "{{ selected_profile }}"
