# playbooks/00_setup_vars.yml
---
- name: Vars settings
  hosts: localhost
  connection: local
  gather_facts: no

  pre_tasks:
    - name: Load VM Config
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/vm_config.yml"
        name: vm_config

    - name: Load Capacity Profiles
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/capacity_profiles.yml"
        name: capacity_data

  tasks:
    - name: Set vm_profile based on selection
      ansible.builtin.set_fact:
        vm_profile: "{{ capacity_profiles[selected_capacity_profile] }}"

    - name: Confirm Profile Loaded
      ansible.builtin.debug:
        msg: "Capacity Profile '{{ selected_capacity_profile | upper }}' loaded: CPU={{ vm_profile.cpu_cores }}, RAM={{ vm_profile.memory_gb }} GB, Disk={{ vm_profile.disk_size_gb }} GB."