# playbooks/01_check_storage.yml
---
- name: Storage capacity check
  hosts: localhost
  connection: local
  gather_facts: no

  pre_tasks:
    - name: Load VM Config
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/vm_config.yml"
        name: vm_config

    - name: Load Capacity Profiles
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/capacity_profiles.yml"
        name: capacity_datal
    
  tasks:
    - name: Pre-Check Ensure vm_profile is defined (requires 00_setup_vars.yml to run first)
      ansible.builtin.assert:
        that:
          - vm_profile is defined
        fail_msg: "ERROR: vm_profile not defined. Run 00_setup_vars.yml first."

    - name: Simulate querying storage cluster for required space
      ansible.builtin.debug:
        msg: "Querying storage cluster to ensure {{ vm_profile.storage_gb }} GB is available for VM '{{ vm_config.vm_name }}'."

    - name: Simulate Storage API Call
      ansible.builtin.pause:
        seconds: 3
        prompt: "Storage check API response received... Space is RESERVED. Press [Enter] to continue."

    # tarea para pasar variables al siguiente paso del WF
    - name: Save vm_profile for next workflow step
      ansible.builtin.set_stats:
        data:
          vm_profile: "{{ vm_profile }}"
          vm_name: "{{ vm_config.vm_name }}"