# playbooks/03_provision_network.yml
- name: Vars settings
  hosts: localhost
  connection: local
  gather_facts: no

  pre_tasks:
    - name: Load VM Config
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/vm_config.yml"
        name: vm_config

    - name: Load Capacity Profiles
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../vars/capacity_profiles.yml"
        name: capacity_data
    
  tasks:
    - name: Step 3.1 - Simulate IP Address Allocation
      ansible.builtin.debug:
        msg: "DHCP/IPAM service allocating static IP: {{ vm_config.vm_ip_address }} for VM '{{ vm_config.vm_name }}'."

    - name: Step 3.2 - Create/Verify and Attach Security Group to virtual interface
      ansible.builtin.debug:
        msg: "Attaching security groups {{ vm_config.vm_security_groups }} to virtual NIC for VM '{{ vm_config.vm_name }}'."

    - name: Step 3.3 - Simulate Security Group Attachment Confirmation
      ansible.builtin.pause:
        seconds: 3
        prompt: "Security groups successfully attached. Press [Enter] to continue."

    - name: Step 3.4 - Simulate DNS Record Creation
      ansible.builtin.debug:
        msg: "Creating DNS record '{{ vm_config.vm_dns_record }}' for IP {{ vm_config.vm_ip_address }}."

    # tarea para pasar variables al siguiente paso del WF
    - name: Save vm_profile for next workflow step
      ansible.builtin.set_stats:
        data:
          vm_profile: "{{ vm_profile }}"
          vm_name: "{{ vm_config.vm_name }}"